p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}
li {
    list-style: none;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
}

.education h2{
    line-height: 3;

}

#dates{
    font-size: 12px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#000000;
    height: 1px;
  }

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    
}
.wrapper .card {
    align-items: center;
    justify-items: center;
    margin: 1rem;
    max-width: 300px;
    border: #1C539F;
    border-radius: 10px;
    border-style: solid;
    padding: 1rem 0.5rem;
    
}
.wrapper .card img {
    max-width: inherit;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.home-icon {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.icon-links {
    border-radius: 10px;
    border: 2px solid #1C539F;
    padding: 0.5rem;
}