<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/icons/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
        <header>
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{ picture }}">
            </div>
            <h1>{{ title }}</h1>
        </div>
        </div>
    </header>
    <nav>
        <div class="nav-content">
            <a href="/">
                <span>Home<img class="icon-nav" src="../static/img/icons/home.png" alt="Home"></span>
            </a>
        </div>
        <div class="nav-content">
            <a href="/timeline">
                <span>Timeline<img class="icon-nav" src="../static/img/icons/travel.png" alt="Clock icon"></span>
            </a>
        </div>
    </nav>

    <div class="clearcontent">
        <h2>Hobbies</h2>
        <ul class="wrapper">
            {% for hobbie in list %}
            <div class="card">
                <img src="{{ hobbie.img_url }}" alt="{{ hobbie.name }}">
                <li>{{ hobbie.name }}</li>
                {% if hobbie.description %}
                    <p>{{ hobbie.description }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    </div>
</body>
</html>