<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/icons/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./static/img/logo.svg" alt="Logo">
        </div>
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{ picture }}">
            </div>
            <h1>{{ title }}</h1>
        </div>
        </div>
    </header>
    <nav>
        <div class="nav-content">
            <a href="/hobbies">
                <span>Hobbies<img class="icon-nav" src="../static/img/icons/hobby.png" alt="Hobbies"></span>
            </a>
        </div>
        <div class="nav-content">
            <a href="#experience">
                <span>Experience<img class="icon-nav" src="../static/img/icons/experience.png" alt="Experience"></span>
            </a>
        </div>
        <div class="nav-content">
            <a href="/timeline">
                <span>Timeline<img class="icon-nav" src="../static/img/icons/travel.png" alt="Clock icon"></span>
            </a>
        </div>
    </nav>

    
    <div class="clearcontent">
        <section class="about">
            <h2>About Me</h2>
            <p>{{ about }}</p>
        </section>
        
    </div>
    <div class="darkcontent" id="education">
        <h2>Education:</h2>
        {% for edu in edu_items %}
        <div class="container">
            <p id="dates" class="date">{{edu.start_date}} - {{edu.end_date}}</p>
            <div class="column">
                <h3>{{edu.name }}</h3>
                <h4>{{edu.degree}}</h4>
                <p><b>Skills Learned:</b></p>
                <p>{{edu.skills}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clearcontent" id="experience">
        <h2>Work Experience:</h2>
        {% for job in job_items %}
        <div class="container">
            <p id="dates" class="date">{{job.start_date}} - {{job.end_date}}</p>
            <div class="column">
                <h3>{{job.title }}</h3>
                <h4>{{job.company_name}}</h4>
                <p><b>Description:</b></p>
                <p><i>{{job.description}}</i></p>
                <p><b>Skills applied:</b></p>
                <p>{{job.skills}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="darkcontent" id="hobbies">
        <h2>Hobbies</h2>
        <div class="content">
            <p>Check here other things I'm interested in: <a href="/hobbies" class="icon-links">Hobbies -></a></p>   
        </div>
    </div>
    <div class="clearcontent" id="trips">
        <h2>Travel Map</h2>
        <p>Some of the places I've been to!</p>
        <div class="map">
            <!-- Map image with pointers of places I've traveled to -->
            <img src="../static/img/map.svg" alt="map with pointers of places Ive travel to" width="100%" height="100%">
            {% for country in countries %}
                <div class="label" style="top: {{country.top}}; left: {{country.left}}">
                    <span>
                        {{ country.name}}
                    </span>
                </div>
            {% endfor %}
        </div> 
</body>
</html>